.game-field {
    margin: 50px auto;
    text-align: center;
}

.game-field table {
    text-align: center;
    margin: auto;
}

.game-field table td {
    background-color: lightgray;
    border: solid black 2px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

.message {
	margin-top: 5px;
}

#chat-input {
	width: 100%;
	border: solid black 2px;
}

#file-input {
	margin-top: 10px;
	width: 100%;
}

.chat-box {
    text-align: center;
    margin: 0 50px 30px 30px;
    width: 25vw;
    float: right;
}

.message-board {
    text-align: left;
    background-color: white;
    border: solid black 2px;
    margin: 10px 30px 10px 0;
    overflow-wrap: break-word;
    width: 100%;
    overflow-y: auto;
    height: 50vh;
    padding: 10px;
}

.guessed {
    background-color: #029e00 !important;
}

.selected {
	background-color: #fde100 !important;
}

.score-box {
	display: flex;
	justify-content: space-around;
}

.score-board {
	text-align: center;
}

.score-board td {
	width: 80px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
