.game-field {
    margin: 50px auto;
    text-align: center;
}

.game-field table {
    text-align: center;
    margin: auto;
}

.game-field table td {
    background-color: lightgray;
    border: solid black 2px;
    width: 40px;
    height: 40px;
    font-size: 2em;
}

#chat-input {
	width: 100%;
	border: solid black 2px;
}

.chat-box {
    text-align: center;
    margin: 0 30px 30px 30px;
    width: 15vw;
}

.message-board {
    text-align: left;
    min-height: 450px;
    background-color: white;
    border: solid black 2px;
    margin: 10px 0;
    overflow-wrap: break-word;
    width: 100%;
}

.guessed {
    background-color: #029e00 !important;
}

.selected {
	background-color: #fde100 !important;
}

.score-box {
	display: flex;
	justify-content: space-around;
}

.score-board {
	text-align: center;
}

.score-board td {
	width: 80px;
}

