body {
    background-color: lightblue;
    font-family: Arial;
}

h1, h2, h3 {
    text-align: center;
}

button {
    border-radius: 3px;
    font-size: 110%;
    margin-top: 15px;
}

.chat-box {
    float: right;
}