.room-board {
    width: 25%;
    min-height: 500px;
    border: black solid 5px;
    border-radius: 15px;
    background-color: lightgray;
    margin-bottom: 20px;
}

.join-room {
    float: left;
}

.spectate-room {
    float: right;
}

.create-room {
    display: inline-block;
    margin: 0 auto;
}

.boards {
    text-align: center;
    padding: 50px 20px;
}

button {
    border-radius: 3px;
    font-size: 110%;
    margin-top: 15px;
}

.room {
    background-color: white;
    border: dashed black 2px;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}

.logout-section {
    text-align: center;
}