.room-board {
	width: 300px;
	min-height: 500px;
	border: black solid 5px;
	border-radius: 15px;
	background-color: lightgray;
	margin: 0 40px 40px 20px;
}


.boards {
	text-align: center;
	padding: 50px 20px 0 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button {
	border-radius: 3px;
	margin-top: 15px;
}

.room {
	background-color: white;
	border: dashed black 2px;
	border-radius: 5px;
	width: 80%;
	margin: 20px auto;
	padding: 10px;
}

.logout-section {
	text-align: center;
}

.create-room form {
	text-align: left;
}

.create-room form {
	padding: 0 30px;
	min-height: 150px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}






